@import "tailwindcss";

html {
    font-family: sans-serif;
    font-size: 62.5%;
    color: var(--primary-textColor-);
}
* {
    user-select: none;
}
@layer base {
    body {
        font-size: var(--default-fontSize-);
    }
}
:root {
    /* header variable */
    --header-height-: 12rem;
    --header-backgroundColor-: linear-gradient(180deg, #f63f2e, #ff6633);
    --header-textColor-: #fff;

    /* subnetHeader */
    --subnetHeader-height-: 8.5rem;

    /* global variable */
    --primary-textColor-: #333;
    --app-width-: 120rem;
    --default-fontSize-: 1.5rem;
    --base-lineHeight-: 2;
    --primary-color-: #ee4d2d;
}
