@import "tailwindcss";

:root {
    --instrucsion-color-: #fff;
    --heading-color-: #999999;
}
.headingColor {
    color: var(--heading-color-);
}
.becomeASellerContainer {
    padding-bottom: 1rem;
    border-bottom: 0.3rem var(--primary-color-) solid;
}
.becomeASellerContainer-register {
    width: 100%;
    margin-top: 1.2rem;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-buyeruserfetoc-live-sg/assets/020bba13463e5663.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}
.primaryColor {
    color: var(--primary-color-);
}

.instrucsion {
    background-image: var(--header-backgroundColor-);
    * {
        color: var(--instrucsion-color-);
    }
}
