@import "tailwindcss";

.header {
    background-image: var(--header-backgroundColor-);
    box-shadow: 0 0px 5px #000;
    font-size: var(--default-fontSize-);
    color: var(--header-textColor-);
}
.header-wrapper {
    height: var(--header-height-);
    width: var(--app-width-);
    margin: 0 auto;
}
@font-face {
    font-family: "fontLogo";
    src: url("~/assets/font/fontlogo/bitcount.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.fontLogo {
    font-family: "fontLogo";
}
