@import "tailwindcss";

.header {
    background-image: var(--header-backgroundColor-);
    box-shadow: 0 0px 5px #000;
    color: var(--header-textColor-);
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

@font-face {
    font-family: "fontLogo";
    src: url("~/assets/font/fontlogo/bitcount.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.fontLogo {
    font-family: "fontLogo";
}
